<!DOCTYPE html>
<html>

<head>
    <title>Assignment 4</title>
</head>

<body>
    <div style="text-align: center">
        <h1>Sainath Indupuri</h1>
        <h3>1001856992</h3>
    </div>
    <h2> For the Entered Range Stores</h2>
    <h3>bar represents the the total amount of that food </h3>
    <div style="text-align: center">
        <img src="data:image/jpeg;base64,{{ output1 }}">
    </div>
    <h2> For All Stores</h2>
    <h3>bar represents the the total amount of that food </h3>
    <div style="text-align: center">
        <img src="data:image/jpeg;base64,{{ output2 }}">
    </div>
</body>

</html>